.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.search-form {
  background: white;
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ant-input,
.ant-picker,
.ant-btn {
  border-radius: 50px;
}

.ant-btn-primary {
  background-color: #ff385c;
  border-color: #ff385c;
}

.ant-btn-primary:hover {
  background-color: #ff5a70;
  border-color: #ff5a70;
}

.ant-btn-primary .anticon {
  font-size: 18px;
}
