.booking-summary-container {
    max-width: 600px;
    margin: auto;
  }
  
  .card-title {
    font-size: 1.5rem;
  }
  
  .summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .summary-label {
    font-weight: bold;
    color: #333;
  }
  
  .summary-value {
    color: #555;
  }
  
  .summary-payment {
    margin-top: 20px;
  }
  
  .payment-amount {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .btn-block {
    width: 100%;
    margin-top: 20px;
  }
  